body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    /* Create a smooth gradient background */
    
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensure it covers the full height */
    overflow: hidden;
}

.confirmation-box {
    
    border-radius: 0.75rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    
}

/* Fade-in animation for the text */
.fade-in-text {
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

strong.text-white {
    text-decoration: underline;
    font-weight: 700;
}

/* Responsive text adjustments */
@media (max-width: 576px) {
    h1 {
        font-size: 2rem;
    }

    .confirmation-box {
        padding: 2rem;
    }
}
