{% extends "base.html" %}
{% block title %}Nexus Scholar | All Opportunities{% endblock %}
{% block linkdownload %}class = "active"{% endblock %}
{% block content %}
<div id = "recommendation">
    <div class="container">
        <h1 class="text-center" style="margin-bottom: 20px;">Research Opportunity Filter</h1>
        <form id="recommendationForm" class="row g-3">
            <div class="col-md-4">
                <label for="researchInterest1" class="form-label">Research Interest 1</label>
                <input type="text" class="form-control" id="researchInterest1" name="researchInterest1" placeholder="e.g.: Chemistry">
            </div>
            <div class="col-md-4">
                <label for="researchInterest2" class="form-label">Research Interest 2</label>
                <input type="text" class="form-control" id="researchInterest2" name="researchInterest2" placeholder="e.g.: History">
            </div>
            <div class="col-md-4">
                <label for="researchInterest3" class="form-label">Research Interest 3</label>
                <input type="text" class="form-control" id="researchInterest3" name="researchInterest3" placeholder="e.g.: Marines">
            </div>
            <div class="col-12" style="margin-top:20px">
                <button type="button" class="btn btn-primary" onclick="recommendResults()">Recommend Me Research Opportunities!</button>
            </div>
        </form>

        <div class="mt-5">
            <h3>Recommendation Results</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Research Area</th>
                        <th>Timing</th>
                        <th>Deadline</th>
                    </tr>
                </thead>
                <tbody id="resultsRecommendationsTable">
                    <!-- Filter results will be displayed here -->
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}